<div class="post">
<div class="header">
  <h3>$title</h3>					
<div class="date">$day de $month_name de $year</div>
<div class="sectionlink">Seção: <a href="$section_uri">$section_title</a></div>
</div>
<div class="content">
  $if_image[==[
  <a href="$uri"><img src="$image_uri" class="picA floatleft" alt="" /></a>
  ]==] 
  <p>$abstract</p>
</div>			
<div class="footer">
  <ul>               
    <li class="printerfriendly"><a href="#">Imprimir</a></li>						
    <li class="readmore"><a href="$uri">Leia mais</a></li>
  </ul>
</div>
</div>
