$import{"index_view"}

		<div id="primarycontent">
		  <div class="sectiontitle">Seção: <a href="$section_uri">$section_title</a></div>

        <div class="post">
				<div class="header">
					<h3>$title</h3>
            <div class="date">$day de $month_name de $year</div>            
				</div>
				<div class="content">            					
            <p></p>
	    $body
  		</div>			
				<div class="footer">
					<ul>               
						<li class="printerfriendly"><a href="#">Imprimir</a></li>						
					</ul>
				</div>
			</div>


		  </div>
		
		<div id="secondarycontent">
		
			<h3>Perfil</h3>
		  $show_posts{ template = "perfil_interno.html" }
			
			<h3>Notícias</h3>
			<div class="content">
				<ul class="linklist">
		  $show_posts{ include_tags = { "noticias" }, template = "noticias.html" }
				</ul>
			</div>
		</div>
	