$import{"index_view"}

		<div id="primarycontent">
		  <div class="sectiontitle">Seção: <strong>$title</strong></div>

		  $show_posts{ count = 1, template = "post_interno.html" }

		  </div>
		
		<div id="secondarycontent">
		
			<h3>Perfil</h3>
		  $show_posts{ template = "perfil_interno.html" }
			
			<h3>Notícias</h3>
			<div class="content">
				<ul class="linklist">
		  $show_posts{ include_tags = { "noticias" }, template = "noticias.html" }
				</ul>
			</div>
		</div>
	